<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Schlafen</key>
        <integer>0</integer>
        <key>Arbeiten</key>
        <integer>1</integer>
        <key>Sport</key>
        <integer>1</integer>
        <key>Familie</key>
        <integer>1</integer>
        <key>Essen</key>
        <integer>1</integer>
        <key>Spazieren</key>
        <integer>0</integer>
        <key>Fliegen</key>
        <integer>1</integer>
        <key>Lesen</key>
        <integer>1</integer>
    </dict>
</plist>
